<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
    <add name="SchoolShellEntities" connectionString="metadata=res://*/SchoolShellModel.csdl|res://*/SchoolShellModel.ssdl|res://*/SchoolShellModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.14.206.28;initial catalog=user2;user id=user2;password=iN2f)a#B;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>